$color-primary: #1d1b1b;
$color-text: white;
$font-size: 16px;
$font-size-title: 50px;
$font-family: Arial, sans-serif;
$margin: 10px;
$color-title: rgb(193, 3, 3);

// Mixins
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
} // Ajoutez cette ligne

@mixin transition($property, $duration, $timing) {
    transition: $property $duration $timing;
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

.navbar {
    background-color: $color-primary;
    color: $color-text;
    font-size: $font-size;
    font-family: $font-family;
    margin: $margin;
  
    .title {
    color: $color-title; // Utilisez la variable pour la couleur
         font-size: $font-size-title; // Utilisez la variable pour la taille de la police
         font-weight: bold;
      @include transition(color, 0.3s, ease-in-out);
    }
  
    .search-form {
      input[type="text"] {
        @include border-radius(15px);
        @include mobile {
          width: 100%;
        }
        padding: 10px;
        border: 2px solid white;
        background: #333;
        border-radius: 25px;
        background: url('/home/alexisbrv/rawg/src/assets/images/search.svg') no-repeat scroll 10px 14px; // Remplacez par le chemin vers votre image de loupe
        padding-left: 30px; // Ajustez cette valeur en fonction de la taille de votre image de loupe
        width: 300px;
        color: white;
    }
  }
}

body {
    background-color: $color-primary; // Utilisez la même couleur que celle de la navbar
    color: $color-text; // Définissez la couleur du texte en blanc

    h1, h2, h3, h4, h5, h6 { // Sélectionnez tous les titres
        color: $color-text; // Définissez la couleur des titres en blanc
        font-weight: bold; // Mettez les titres en gras
    }
    #showMore {
      position: relative;
      bottom: 0;
      left: 50%; // Centrer horizontalement
      transform: translateX(-50%); // Ajuster pour le centrage parfait
      background-color: rgb(193, 3, 3); // Pour rendre le bouton rouge
      color: white; // Pour rendre le texte blanc
      border: none; // Pour supprimer la bordure
      padding: 10px 20px; // Pour rendre le bouton rectangulaire
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 90px; 
      margin-top: 50px;
  }
  
}
.platform-select {
  background-color: rgb(193, 3, 3);
  
  color: white; // Pour que le texte soit visible
  padding: 10px; // Pour un cadre plus gros
  appearance: none; // Pour supprimer l'apparence par défaut
  -webkit-appearance: none; // Pour supprimer l'apparence par défaut sur Safari
  -moz-appearance: none; // Pour supprimer l'apparence par défaut sur Firefox

  // Pour ajouter les flèches haut/bas
  background-image: 
      linear-gradient(45deg, transparent 50%, white 50%),
      linear-gradient(-45deg, transparent 50%, white 50%);
  background-position:
      calc(100% - 20px) calc(1em + 2px), // Position de la flèche vers le bas
      calc(100% - 15px) calc(1em + 2px); // Position de la flèche vers le haut
  background-size:
      5px 5px, // Taille de la flèche vers le bas
      5px 5px; // Taille de la flèche vers le haut
  background-repeat: no-repeat;
}


  .page-list .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; // Centrer les éléments horizontalement avec de l'espace autour
    align-items: stretch; // Étirer les éléments verticalement pour qu'ils aient tous la même hauteur
    gap: 20px;
  }

.cardGame {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    overflow: hidden;
    position: relative;
   
  
    .game-name {
      font-size: 24px;
      color: white;
      font-weight: bold;
    }
  
    .game-released {
      font-size: 18px;
      color: #333;
    }
  
  
    .game-details-link {
      color: white;
      text-decoration: none;
      margin-top: 20px;
    }
  
   
    .game-platforms span {
        display: inline-block;
        padding: 5px 10px;
        margin: 5px;
        background-color: #b5aeae;
        border-radius: 5px;
        font-weight: bold;
      }

      .game-image {
        width: 100%;
        height: auto;
        
    
        .image-container {
          position: relative;
          width: 100%;
          height: 100%;
    
          img {
            width: 100%; // Largeur fixe
            height: 100%; // Hauteur ajustée automatiquement
            object-fit: cover; // S'assurer que l'image couvre toute la zone
            vertical-align: top;
          }
        }
      }
    
      .hover-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none; /* Ajouté */
      }
    
      .game-image:hover ~ .hover-info {
        opacity: 1;
      }
    }
     
        
      
    





footer {
  // Styles de votre pied de page ici...
  position: relative; // Ajoutez cette ligne pour positionner la barre rouge par rapport au pied de page
}

  #redBar {
    background-color: rgb(193, 3, 3); // Pour rendre la barre rouge
    height: 10px; // Hauteur de la barre
    width: 15%; // Largeur de la barre
    position: absolute; // Positionne la barre par rapport au pied de page
    top: 0; // Place la barre en haut du pied de page
    left: 0;
    margin-bottom: 100px; // Place la barre à gauche du pied de page
  }

// Styles de la page de détail
.page-detail {

  p.stores a {
    color: white; /* Met la couleur du texte en blanc */
    text-decoration: none; /* Supprime le soulignement */
    border-bottom: 2px solid rgb(193, 3, 3); /* Ajoute une bordure inférieure rouge */   
    text-decoration: none; /* Supprime le soulignement */
    padding: 2px; /* Ajoute un peu d'espace autour du texte */
    margin-bottom: 10px; /* Ajoute un espace en dessous de chaque lien */
    display: inline-block; /* Chaque lien conserve sa taille de contenu */
    
  }

  h2 {
    color:rgb(193, 3, 3);
    font-size: 3em;
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    border: 0;
     /* Fait en sorte que le conteneur prenne toute la largeur de l'article */
    
    
  }
  
  .container p {
    flex: 1 0 20%; /* Les éléments prendront la largeur nécessaire */
    max-width: 20%;
    
    margin: 10px; /* Ajoute une marge autour de chaque carte */
    padding: 20px; /* Ajoute un rembourrage à l'intérieur de chaque carte */
   
    
    text-align: left; /* Centre le texte dans chaque carte */
    
  }
 
  .article {
    width: 100%;
    position: relative;
  }

   

    .main-image {
      width: 100%;
      height: auto;
      
    }
    a.website {
      text-decoration: none;
      position: absolute;
      top: 600px;
      right: 20px;
      z-index: 1;
      background-color: rgb(193, 3, 3);
      color: white;
      padding: 15px 30px;
      font-size: 1.2em;
      font-weight: bold;
    }
    
    a.website::after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 20px solid white;
      margin-left: 50px;
    }

    .title {
      font-size: 4em;
      text-align: left;
      margin-top: 20px;
      margin-bottom: 20px;

       
       .votes-and-rating {
        // Changez la couleur du texte en rouge
        color:rgb(193, 3, 3);
        // Positionnez à droite
        position: absolute;
        right: 10px;
        // Ajustez la taille de la police
        font-size: 30px; /* Ajustez cette valeur pour changer la taille de la police */
      }
     
     
    }
    .movies {
      width: 100%;
      height: auto;
      margin-top: 10px;
    }
    
   
    .screenshots {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; /* Répartit uniformément les éléments le long de l'axe horizontal avec un espace égal entre eux */
    
      img {
        flex: 1 0 calc(25% - 20px); /* Les éléments prendront 25% de la largeur du conteneur (moins les marges) */
        width: calc(25% - 20px); /* La largeur de chaque image sera de 25% de la largeur du conteneur (moins les marges) */
        height: auto;
        margin: 10px;
      }
    }
  
}
